# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
*.egg-info/
build/
dist/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Local Config & Credentials
.env
.gemini/
credentials/
token.json

# Log files
parser_log.txt
env_log.txt

# macOS
.DS_Store

# Test Assets
test/image/